<ion-header>
  <ion-toolbar>
    <ion-title >등록방식 선택</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
      <ion-item>
        <ion-button class="button" (click)="gofinger()">
          지문인식
      </ion-button>
        
      </ion-item>
      <ion-item>
        <ion-button class="button" (click)="goeye()">
        홍채인식</ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="button" (click)="goface()">
        얼굴인식</ion-button>
      </ion-item>
    </ion-list>
   
</ion-content>
